<h1>Stupid Coaching</h1>

<div class="card" id="question">
  <p><%= @question %></p>
  <p><i>-You</i></p>
</div>

<div class="card" id="answer">
  <p><strong><%= @answer %></strong></p>
  <p><i>-Your coach</i></p>
</div>

<%= link_to 'Ask another question', ask_path %>